@charset "utf-8";
html{
    font-size: 62.5%;
}

body{
    background-color: azure;
    -webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}


.outputarea{
    background: aqua;
    height: 300px;
    width: 200px;
    overflow: scroll;

}